# R
.Rproj.user
.Rhistory
.RData
.RData*
.Ruserdata

# Quarto generado
/.quarto/
/_book/
/docs/
*_cache/
*_files/
*.quarto_ipynb

# Outputs
*.html
*.pdf
*.png

# Datos
*.csv
/datos/
**/*.quarto_ipynb
